@{
    ViewBag.Title = "Home Page";
}
<section id="car-pagination">
    @Html.Partial("_Location")
</section>

<section id="car-advertisement" ng-controller="HomeController">
    <div class="content-holder">
        <div class="slide-part-large">
            <div class="visible-image">
                <h2><span class="bold">Best</span> Offer</h2>
                <div id="slides">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 800%; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transform: translate3d(-739px, 0px, 0px);">
                            <li ng-repeat="best in HomeItems">
                                <a href="javascript:void(0)"
                                   ng-click="GoToItemDetailsPage(best.Id)">
                                    <img ng-if="best.ImageUrl==null" 
                                         ng-src="{{AppServices.Management.GetImageUrl('no-car-image-lg.jpg')}}"  alt="Slide">
                                    <img ng-if="best.ImageUrl!=null" class="img-shadow" 
                                         ng-src="{{::best.ImageUrl}}" alt="Slide">
                                    <div class="slide-info" isolate-click>
                                        <h3>{{::best.Description}}</h3>
                                        <span class="price-tag">${{::best.RetailCost |number}}</span>
                                        <span class="add-to-cart" title="Add To My Vehicles">
                                            <i class="fa fa-cart-plus" ng-click="AddToCart(best)"></i>
                                        </span>
                                        <span class="an-save" ng-show="Options.Notification.Show" id="notification">
                                            <i class="fa fa-exclamation-circle" ng-show="Options.Notification.Type=='error'"></i> 
                                            <i class="fa fa-info-circle" ng-show="Options.Notification.Type=='info'"></i>
                                            <span>{{Options.Notification.Message}}</span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                           
                        </ul>
                    </div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                </div>
            </div>
        </div>

        <div class="latest-offers">
            <div class="headline">
                <h2><span class="bold">Latest </span>Offers</h2>
                <a href="#" class="scroll-up scroll-icon" style="display: block;"><span>Up</span></a>
                <a href="#" class="scroll-down scroll-icon" style="display: block;"><span>Down</span></a>
            </div>

            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: left; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 221px; height: 517px; margin: 0px; overflow: hidden;">
                <ul class="offer-list offer-small list-content" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 2307px; width: 221px;">
                    <li ng-repeat="late in HomeItems">
                        <a href="@Url.Action("Details","Car")?id={{late.Id}}">
                            <img ng-if="late.ImageUrl==null" 
                                 ng-src="{{AppServices.Management.GetImageUrl('no-car-image-md.jpg')}}" alt="Slide">
                            <img ng-if="late.ImageUrl!=null" class="img-shadow" 
                                 ng-src="{{::late.ImageUrl}}" alt="Slide">
                            <div class="entry-label">
                                <h4>{{::late.Description}}</h4>
                                <span class="price-tag">${{::late.RetailCost|number}}</span>
                                @*<span class="add-to-cart">
                                    <i class="fa fa-heart" ng-click="AddToCart(best)"></i>
                                </span>*@
                            </div>

                            <div class="entry-overlay" style="display: none;">
                                <ul class="car-list-details">
                                    <li>Registration {{::late.Year}}</li>
                                    <li>Color {{::late.Color}}</li>
                                    <li>Miles {{::late.Mileage}}</li>
                                </ul>
                            </div>
                            <span ng-if="late.Quantity>=1" class="v-sign">V</span>
                        </a>
                    </li>

                </ul>
            </div>



        </div><!--.latest-offers-->
    </div>

</section>  

<section id="car-shortcuts">
    <div class="content-holder">

        <div class="full-width banners-full-width">
            <div class="search-banner banner-medium one-half">
                <a href="@Url.Action("List","Car")" class="icon-magnify icon-banner">Magnify</a>
                <div class="banner-title">
                    <h3><span class="bold">Looking</span> for a car?</h3>
                    <p class="description">1.000 new offers every day. 35.000 offers on site</p>
                </div>
                <a href="@Url.Action("List","Car")" class="banner-link"><span>Search</span></a>
            </div>

            <div class="sell-banner banner-medium one-half">
                <a href="@Url.Action("Contact","Home")" class="icon-dollar icon-banner">Dollar</a>
                <div class="banner-title">
                    <h3><span class="bold">Want</span> to buy a car?</h3>
                    <p class="description">200.000 visitors every day. Add your offer now!</p>
                </div>
                <a href="@Url.Action("Contact","Home")" class="banner-link"><span>Contact Us</span></a>
            </div>
        </div>

        <div class="full-width articles-dealers-offers">
            <div class="popular-articles one-third">
                <h3><span class="bold">Popular</span> Articles</h3>
                <ul class="articles-list">
                    <li>
                        <img src="http://o.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/376x212/quality/60/http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/1603x904+192+0/resize/376x212!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/d78ef4f3a47c53ed3b55d6180cd618ac/202244782/toyota-makinen.jpg" alt="Article Icon">
                        <p class="preview">Toyota signs rally legend Tommi Makinen to run new WRC team..</p>
                        <a href="http://www.autoblog.com/2015/07/08/toyota-wrc-tommi-makinen-team-principal/" class="more-link">Read more</a>
                    </li>
                    <li>
                        <img src="http://o.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/376x212/quality/60/http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/885x500+320+349/resize/376x212!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/ad5a03d659417e5a8ac6bfb780cfd798/202252387/Guiness+World+Record+VW+TDI.jpg" alt="Article Icon">
                        <p class="preview">VW Golf TDI circles US on less than $300 of diesel..</p>
                        <a href="http://www.autoblog.com/2015/07/08/vw-golf-tdi-circles-US-less-than-300-dollars-diesel/" class="more-link">Read more</a>
                    </li>
                    <li>
                        <img src="http://o.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/376x212/quality/60/http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/4000x2251+0+0/resize/376x212!/format/jpg/quality/85/http://o.aolcdn.com/hss/storage/midas/ef46646b81b28b373f3a5594f1d59377/202250347/IMG_0003.jpg" alt="Article Icon">
                        <p class="preview">The 2017 Mercedes-Benz E-Class is a technological tour de force..</p>
                        <a href="http://www.autoblog.com/2015/07/07/2017-mercedes-benz-e-class-technology-feature-video/" class="more-link">Read more</a>
                    </li>
                </ul>
            </div><!--.popular-articles-->

            <div class="car-dealers one-third">
                <div class="headline">
                    <h3><span class="bold">We</span> offer</h3>
                </div>

                <ul class="dealer-list">
                    <li><a class="dealer-name">Valuable Local Merchant Discount.</a></li>
                    <li><a class="dealer-name">International or domestic delivery. Call us for a free quote.</a></li>
                    <li><a class="dealer-name">Low and competetive prices for cars and parts.</a></li>
                    <li><a class="dealer-name">Strict control of vehicle check-up, delivery and shipment.</a></li>
                    <li><a class="dealer-name">Best accuracy of fullfiling car order & special requests.</a></li>
                </ul>
            </div><!--.car-dealers-->

            <div class="daily-offers one-third">
                <h3><span class="bold">Get</span> daily offers</h3>
                <form action="#" method="post">
                    <input type="text" placeholder="E-mail here" class="email-address default-input ">
                    <p class="offer-text">Available, but have suffered alteration in some form injected humour, or randomised words which don't look even slightly believable. </p>
                    <div class="submit-button"><input type="submit" value="Subscribe"></div>
                    <p class="amount-subscribers">15,000+ other subscribers</p>
                </form>
            </div><!--.daily-offers-->
        </div>
    </div>
</section>
